@model List<WedBanHang.Context.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap" style="background: #ffd7d7">
                            <img src="~/Content/images/@item.Avatar">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">@Html.ActionLink(item.Name, "ProductCategory", "Category", new { @Id = item.Id }, null)</a></h4>
                            <ul class="list-menu">
              
                            </ul>
                        </div>
                    </div>
                </div> <!-- col.// -->
            }


        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

